@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.work{
  padding: 1rem;
  @include borderBottom;
  @include tablet{
    padding: 1rem 4rem;
  }
  @include desktop{
    padding: 2rem 8.125rem;
  }
  &__title{
    @include page-header;
  }
  &__imagecontainer{
    @include desktop{
      display: flex;
      justify-content: center;
    }
  }
  &__imagelink{
    @include desktop{
      width: 75%;
    }
  }
  &__image{
    width: 100%;
    height: auto;
  }
  &__subtitle{
    @include section-header;
    margin-top: 1.5rem;
    @include desktop{
      margin-top: 3rem;
    }
  }
  &__paragraph{
    @include page-body;
    @include tablet{
      font-size: 1.25rem;
    }
    &--frontend{
      color: $portfolio-purple;
    }
    &--backend {
      color: $portfolio-blue;
    }
    &--others{
      color: $portfolio-yellow;
    }
    &--none{
      display: none; 
    }
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  &__linktag{
    &--none{
      display: none;
    }
  }
  &__link{
    padding: 0 1rem;
  }
}