@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.about{
  padding: 1rem;
  @include borderBottom;
  @include tablet{
    padding: 1rem 4rem;
  }
  @include desktop{
    padding: 2rem 8.125rem;
  }
  &__heading{
    @include page-header;
  }
  &__imagecontainer{
    @include tablet{
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }
  }
  &__image{
    width: 100%;
    height: auto;
    @include tablet{
      width: 80%;
    }
    @include desktop{
      width: 50%;
    }
  }
  &__paragraph{
    @include page-body;
    line-height: 1.45rem;
  }
  &__current{
    padding: 1rem;
    width: 100%;
    background-color: $portfolio-black;
    border-radius: 0.625rem;
    @include desktop{
      margin: 4rem 0;
      width: 60%;
    }
  }
  &__title{
    @include section-header;
    margin: 1rem 0 0 0;
  }
  &__label{
    @include page-label;
    @include desktop{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  &__listcontainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    @include tablet{
      width: 55%;
    }
    @include desktop{
      width: 70%;
    }
  }
  &__ulist{
    list-style: none;
    padding: 0;
  }
  &__list{
    @include page-body;
    display: flex;
    padding: 0.5rem 0;
  }
  &__bulletpoint{
   margin-right: 0.5rem; 
  }
  &__subtitle{
    @include page-body;
    font-weight: 600;
    margin: 1.5rem 0 1rem 0;
    @include desktop{
      margin: 2.5rem 0 1rem 0;
    }
  }
  &__hobbiescontainer{
    @include desktop{
      margin: 4rem 0;
    }
  }
  &__skills{
    @include desktop{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__stack{
    @include desktop{
      width: 45%;
    }
  }

}