@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

@keyframes wave {
      0% {
          transform: rotate(0.0deg)
        }
      
        10% {
          transform: rotate(14.0deg)
        }
      
        20% {
          transform: rotate(-8.0deg)
        }
      
        30% {
          transform: rotate(14.0deg)
        }
      
        40% {
          transform: rotate(-4.0deg)
        }
      
        50% {
          transform: rotate(10.0deg)
        }
      
        60% {
          transform: rotate(0.0deg)
        }
  
        100% {
          transform: rotate(0.0deg)
        }
}

.landing{
  padding: 1rem;
  @include borderBottom;
  @include tablet{
    padding: 2.5rem;
  }
  &__header{
    @include page-header;
  }
  &__subheader{
    @include landing-subheader;
  }
  &__focus{
    font-size: 0.875rem;
    padding-bottom: 1rem;
    @include borderBottom;
  }
  &__animate{
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  &__imagecontainer{
    display: none;
  }
  &__sectionheader{
    @include section-header;
  }
  &__projectcontainer{
    display: flex;
    flex-direction: column;
  }
  &__project{
    position: relative;
    width: 100%;
    background-color: $portfolio-black;
    padding: 0.5rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
    &:hover{
      transition-duration: 0.2s;
      background-color: $portfolio-grey700;
    }
  }
  &__projectimage{
    width: 100%;
    height: auto;
  }
  &__title{
    @include section-header;
  }
  &__description{
    @include page-body;
  }
  &__stack{
    @include page-label;
  }
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    background-color: $portfolio-grey700;
    opacity: 0;
    &:hover{
      transition-duration: 0.2s;
      opacity: 0.3;
    }
  }
}